html {
    background-color: #EEE;
}
div.ui-page.ui-page-active {
      background-color: white !important;
}
body {
    font-family: Arial;
    width:500px;
    margin: auto !important;
    
}
h1 {
  text-align: center;
}
h2 {
    margin: 0.2ex;
}
button[type=submit] {
    padding: 10px;
    font-size: 12pt;
}
#submit-div {
    text-align:center;
}
label:checked {
    font-weight: bold;
}

.console div {
    margin: 5px;
    padding: 1px;
}

.ui-btn[type=submit] {
    width: 300px !important;
    position: relative;
    left: 20%;
}

.ui-page {
  position: static !important;
  display:flex !important;
  flex-direction:column;
  min-height: 100% !important;
}

.content {
  flex-grow: 1;
    padding: 10px;
}

.info-block {
  margin : 10px;
  padding : 10px;
  border : 1px solid gray;
  border-radius: 10px;
}

.footer {
  background: url(DIE_GRAUE_SEITE_0.PNG) no-repeat;
  background-color: white;
  background-position: 0 0, right;
  text-align: right;
  height : 85px;
  padding: 0 10px 0 0; 
}
.footer a {
  text-decoration: none;
  color: #1bcfe6 !important;
}
