html {
    background-color: white;
}
body {
    font-family: Arial;
    width:500px;
    margin: auto !important;
    padding: 10px;
    background-color: lightgray;
}
h2 {
    margin: 0.2ex;
}
button[type=submit] {
    padding: 10px;
    font-size: 12pt;
}
#submit-div {
    text-align:center;
}
label:checked {
    font-weight: bold;
}

.console div {
    margin: 5px;
    padding: 1px;
}
.console .output {
    background-color: lightblue;
}
.console .error {
    background-color: coral;
}
.console .input {
    background-color: lightgreen;
}


.ui-btn[type=submit] {
    width: 300px !important;
    position: relative;
    left: 20%;
}

.ui-page {
  position: static !important;
}

.info-block {
  margin : 10px;
  padding : 10px;
  border : 1px solid gray;
  border-radius: 10px;
}