
<script type='text/javascript'>//<![CDATA[ 

function onRedrawCredit(obj1,obj2) {
    var myChart = obj1.currentTarget;
    var inp = document.getElementById( "mycreditlevel" );
    onRedraw(myChart,inp,'credit');
}

var params = {{{ chartParams }}};

$(function(){
Highcharts.setOptions({
    lang: {
        drillUpText: '< Back to {series.name}'
    }
});


var options = buildOptions(params.data)
 if(options instanceof Array) {

// Pie
options.chart.renderTo = 'container2';
options.chart.type = 'pie';
options.title.text='Kredite';
options['plotOptions']= {'series': {'dataLabels': { 'enabled': true },'shadow': false },'pie': {'size': '80%' } }

options.chart.events={ redraw: onRedrawCredit}
//options.chart.events['click'] = function() {alert ('The chart was just click'); }
//options.labels ={'events':{ 'redraw': function() {alert ('The label was just redrawn'); }}}
//options.labels.events['click'] = function() {alert ('The label was just click'); }
//options.plotOptions['column']={'point':{'events':{'click' : function() {alert ('The point was just click'); }}}}
//options.plotOptions['pie']={'point':{'events':{'click' : function() {alert ('The pie was just click'); }}}}
//options.plotOptions['pie']['point']['events']['redraw'] = function() {alert ('The pie was just redrawn'); }
//options.plotOptions['area']={'events':{'click': function() {alert ('The area was just click'); }}}
//options.plotOptions['area']['events']['redraw']= function() {alert ('The area was just redraw'); }

var chart2 = new Highcharts.Chart(options);
chart2.drilldownLevels=[]
chart2['id']='credit';
} else {
  }
  
});//]]>  

</script>
<div id="container2" style="float:left;height: 400px; width: 380px; margin: 0 auto"></div>
