html, body{
  height:100vh;
  display:flex;
  flex-direction:column;
}

.tabbable{
  display:flex;
  flex-grow:1;
  flex-direction:column;
}

.tab-content{
  display:flex;
  flex-grow:1;
  flex-direction:column;
}

.tab-pane.active{
  display:flex;
  flex-grow:1;
  flex-direction:column;
}

.overview{
  display: flex;
  flex-grow:1;
  flex-direction:row;
  align-content:stretch;
}

.overview2{
  display: flex;
  flex-grow:1;
  flex-direction: column;
  align-content: stretch;
}

.recom {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width : 30vw;
  border-style:solid;
  border-color:#e2e8ea;
  border-width: 10px 10px 10px 0px;
}

.recom .recomPart,
.recom .changedata,
.personalRecom .changedata {
  background-color:#17CFE6;
  flex-grow: 1;
}

.recom .changedata,
.personalRecom .changedata {
   background-color: #12c0dd;
   background-image: url('changedata.png') ;
   background-repeat:no-repeat;
   background-position: center;
   text-align: center; 
}

.recom button.graypage-open-datasave{  
  background-image: url('changedata-button.png') ;
  background-repeat:no-repeat;
  background-position: center;  
  margin: 180px 0 0 0;
  width: 245px;
  height: 43px;
  
}

.header {
  font-size: 30px;
  background: url('analysis-logo.png') no-repeat, url(DIE_GRAUE_SEITE_0.PNG) no-repeat;
  background-position: 0 13px, right;
  height : 60px;
  padding: 32px 0 0 70px; 
  margin:  5px 0 0 20px; 
}

.header b {
  color : #17CFE6;
}

.red {
  background: url('ueberversichert.png') no-repeat;
  padding: 5px 0 0px 30px;
  margin:  9px 0 0px 10px;
}

.yellow{
  background: url('yellow.png') no-repeat;
  padding: 5px 0 0px 30px;
  margin:  9px 0 0px 10px;
}

.grey{
  background: url('grey.png') no-repeat;
  padding: 5px 0 0px 30px;
  margin:  9px 0 0px 10px;
}

.green{
  background: url('ok.png') no-repeat;
  padding: 5px 0 0px 30px;
  margin:  9px 0 0px 10px;
}

#main_plot{
  width: 70vw;
  overflow: auto; 
}

#main_plot table {
  width: 100%;
}

#main_plot table tr td .thirdcolumn{
  text-align: right;
  margin:  9px 0 0px 3px;
}

#main_plot table tr td .secondcolumn{
  text-align: left;
  margin:  9px 0 9px 0px;
}

#main_plot tr:hover {
  background-color : #EEE;
}

/*.tabbable .nav-tabs .active .tabhead*/

.nav-tabs>li>a{
  font-size: 89%;
  padding: 0 6px 0 5px;
  line-height: 45px;
  color: black;
}
.nav{
  margin-bottom: 0;
}
.nav-tabs>.active>a{
  background-color : #788288;
}

.nav-tabs>li.active>a{
  color: white;
}
.nav-tabs>.active>a:hover{
  color: white;
  background-color : #788288;
}