<%= getHeader() %>
<%
  userid = req$cookies()$userid
  if (is.null(userid)) {
    userid <- paste(sample(c(0:9, letters, LETTERS), 20, replace=TRUE), collapse="")
    res$set_cookie(key="userid", value=userid)
  }
  email <- req$POST()$email
  if (!is.null(email)) {
    saveQuestion(userid, "email", email)
  }
%>

  <h1>Anleitung zum Glücklich sein</h1>
  <div class="info-block">
      <h2>Wer betreibt diese Seite?</h2>
  </div>
  <div class="info-block">
      <h2>Was geschieht mit meinen Daten?</h2>
  </div>
  <div class="info-block">
      <h2>Ich möchte informiert werden, wie es weiter geht</h2>
      <% if (is.null(email)) { %>
        <form method="POST" action="#">
          <div style="display:none">
          <input name="userid" value="<%= userid %>">
          </div>
            <label>Email Adresse: </label><input name="email" value="<%=email%>">
          <br>
          <button type="submit">Eintragen</button>
        </form>
        <div class="renate-login">
<p><a class="facebook-action-connect ext" href="https://www.facebook.com/dialog/oauth?client_id=441686259296852&amp;redirect_uri=https%3A//diegraueseite.de/fboauth/connect%3Fdestination%3Dnode%252F1508&amp;scope=email" rel="nofollow" target="_blank"><img alt="" src="https://diegraueseite.de/sites/all/themes/graueseite/omega-html5/css/img/facebooksingin_long.png"> </a></p>

<p><a href="https://diegraueseite.de/gauth_user_login_submit" target="_blank"><img alt="google signin" src="https://diegraueseite.de/sites/all/themes/graueseite/omega-html5/css/img/googlesignin_long.png"></a></p>
</div>
      <% } else { %>
        Danke! Wir informieren dich, wenn es Neuigkeiten gibt.
      <% } %>
  </div>
  
  
<%= getFooter() %>
