<%= getHeader() %>

<%
    
    allquestions =  names(ELQuestions)
    tab = table(ELpeercheck$questionid)
%>
  
  <p>
        <table>
        <%
        for(i in allquestions){ %>
          
          <tr>
            <td>
              <a href="result.html?questionid=<%=i%>" data-ajax="false"> <%=ELQuestions[[i]]$shortText%> </a>
              <td> <%= tab[names(tab)==i] %> </td>
            </td>
          </tr> 
        
        <%}
        %>
        </table>
 
    
  </p>
<%= getFooter() %>
