<%= getHeader() %>

<%
    allquestions =  names(ELQuestions)
    tab = table(unique(ELpeercheck[, c('userid', 'questionid')])$questionid)
%>
  
  <p>
        <table>
        <%
        for(i in allquestions){ %>
          
          <tr>
            <td>
              <a href="result.html?questionid=<%=i%>" data-ajax="false"> <%=ELQuestions[[i]]$shortText%> </a>
            </td>
            <td> <%= tab[names(tab)==i] %> </td>
          </tr> 
        
        <%}
        %>
        </table>
 
    
  </p>
<%= getFooter() %>
