<%= getHeader() %>

<%
    questionid = req$GET()$questionid
    question = ELQuestions[[questionid]]
    choices = as.character(ELATYPE[[question$AType]]$value)
%>

  <h1>Anleitung zum Glücklichsein</h1>
  <p>
    <%= question$Text %>
  </p>
  <p>
    <form method="POST" action="http:result.html?questionid=<%=questionid%>">
          <fieldset data-role ="controlgroup">
        <%
         
        for(i in choices){ %>
             <input type="radio" name="answer" id="<%= i %>" value="<%= i %>" required> 
            <label for="<%= i %>"><%= i %></label> 

        
        <%}
        
        %>
          </fieldset>
      <button type="submit">Weiter</button>
    </form>
  </p>
<%= getFooter() %>
