<html>

<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<link rel="stylesheet" type="text/css" href="../style/jquery.mobile-1.4.2.min.css"/>
<script type="text/javascript" src="../style/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../style/jquery.mobile-1.4.2.min.js"></script>

<%
    questionid = req$GET()$questionid
    question = ELQuestions[[questionid]]
    choices = as.character(ELATYPE[[question$AType]]$value)
%>
<body>
  <h1>Anleitung zum Glücklichsein</h1>
  <p>
    <%= question$Text %>
  </p>
  <p>
    <form method="POST" action="http:result.html?questionid=<%=questionid%>">
          <fieldset data-role ="controlgroup">
        <%
         
        for(i in choices){ %>
             <input type="radio" name="answer" id="<%= i %>" value="<%= i %>" required> 
            <label for="<%= i %>"><%= i %></label> 

        
        <%}
        
        %>
          </fieldset>
      <button type="submit">Weiter</button>
    </form>
  </p>
</body>
</html>
