<%= getHeader() %>
<%
  userid <- req$GET()$userid # allow userid overrides
  if (!is.null(userid)) {
    res$set_cookie(key="userid", value=userid)
  }
%>
<center>
  <h2>Werde Teil der "Weisheit der Masse"</h2>
  <p><img src="../style/images/WeisheitDerMasse.PNG" width="300px" alt="Weisheit der Masse"></p>
</center>
<p>
Du kannst helfen die Anleitung zum Glücklichsein freizulegen. Teile anonym deine Erfahrungen in allen wichtigen Bereichen des Lebens und hilf dir und deinen Mitmenschen bessere Entscheidungen zu treffen. 
</p>
   <p> 
    Finde heraus, was wirklich glücklich macht.
  </p>
  <% if (is.null(req$cookies()$userid)) { %>
  <p>
    <form method="POST" action="http:startup.html">
      <button type="submit">Los geht's</button>
    </form>
  </p>
  <% } else { %>
  <p>
    <form method="POST" action="http:result.html">
      <button type="submit">Los geht's</button>
    </form>
  </p>
  <% } %>
<%= getFooter() %>
